body{
    font-family: system-ui;
    background: darkolivegreen;
    margin: 50px 50px;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
}

.Section1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.Section2{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.formWrapper{
    background-color: #687b45;
    padding: 5px 25px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #79904f;
}

.btn {
    width: 31%;
    text-align: center;
    padding: 3px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #8aa35e;
    margin: 3px;
    cursor: pointer;
}

.dlLink:empty{
    display: none;
}

.dlLink{
    width: 20%;
    text-align: center;
    border: 1px solid #0000ff30;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    color: blue;
    background: aliceblue;
    box-shadow: 2px 2px 7px 0px #0075ff26;
    margin-top: 30px;
    align-self: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    width: 100px;
}

.numInput{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

hr{
    margin: 34px 0px;
    width: 70%;
    height: 2px;
    background-color: #aacf68;
    border: none;
    align-self: center;
}

input[type="file"]::file-selector-button {
    background-color: #79904f;
    border: none;
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    margin: 0px 7px;
}

input[type="file"] {
    color: white;
    background-color: #8aa35e;
    padding: 5px 0px;
    border-radius: 5px;
}